.my-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block
}

.my-hr {
    height: 1px;
    background-color: #ccc;
    margin: 12px auto
}

.label {
    border-radius: 0;
    display: inline-block;
    font-weight: 400;
    text-shadow: none
}

.btn-define {
    color: #fff;
    background-color: #09f;
    border-color: #0086e6;
    border-radius: 3px
}

.btn-define:hover, .btn-define:focus, .btn-define:active, .btn-define.active, .open .dropdown-toggle.btn-define {
    color: #fff;
    background-color: #0089ee;
    border-color: #357ebd
}

.btn-define:active, .btn-define.active, .open .dropdown-toggle.btn-define {
    background-image: none
}

.btn-define.disabled, .btn-define[disabled], fieldset[disabled] .btn-define, .btn-define.disabled:hover, .btn-define[disabled]:hover, fieldset[disabled] .btn-define:hover, .btn-define.disabled:focus, .btn-define[disabled]:focus, fieldset[disabled] .btn-define:focus, .btn-define.disabled:active, .btn-define[disabled]:active, fieldset[disabled] .btn-define:active, .btn-define.disabled.active, .btn-define[disabled].active, fieldset[disabled] .btn-define.active {
    background-color: #09f;
    border-color: #0086e6
}

.btn-define .badge {
    color: #09f;
    background-color: #fff
}

#scroll-top {
    background: #74b3fb;
    color: #fff;
    bottom: 100px;
    right: 20px;
    height: 38px;
    line-height: 38px;
    width: 38px;
    position: fixed;
    z-index: 9999;
    display: none
}

.syntaxhighlighter.collapsed .toolbar {
    border: 1px solid #09f !important
}

svg:not(:root) {
    overflow: inherit
}


/*font size*/
.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}






