.navbar-custom {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7
}

.navbar-custom .navbar-brand {
    font-weight: 800
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px
}

@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent
    }

    .navbar-custom body {
        font-size: 20px
    }

    .navbar-custom .navbar-brand {
        color: white;
        padding: 20px
    }

    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8)
    }

    .navbar-custom .nav li a {
        font-size: 18px;
        color: white;
        padding: 20px
    }

    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
        color: rgba(255, 255, 255, 0.8)
    }
}

@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -webkit-transition: background-color .3s;
        -moz-transition: background-color .3s;
        transition: background-color .3s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .navbar-custom.is-fixed {
        position: fixed;
        top: -61px;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform .3s;
        -moz-transition: -moz-transform .3s;
        transition: transform .3s
    }

    .navbar-custom.is-fixed .navbar-brand {
        color: #404040
    }

    .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
        color: #0085a1
    }

    .navbar-custom.is-fixed .nav li a {
        color: #404040
    }

    .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
        color: #0085a1
    }

    .navbar-custom.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}





.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: inherit
}

.navbar-default .navbar-toggle:active {
    background-color: #ddd
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 14px 11px;
    margin-top: 4px;
    margin-right: 10px;
    margin-bottom: 4px;
    border-radius: 50%
}

.navbar-default .navbar-toggle .icon-bar {
    width: 18px;
    border-radius: 0
}

.navbar-default .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px
}