---
title: GAMES
layout: default
header-img: "static/app/res/img/tags-bg.jpg"
permalink: /games/
---

<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9082537058031213" crossorigin="anonymous"></script>
</head>

<style>
	.main-content-container {
		min-height: 650px;
	}
	.stackable>a {
		line-height: 80px;
		text-align: left;
		font-size: 26px;
	}

	.game-icon {
		display: inline-block;
		height: 32px;
		width: 32px;	
		line-height: 32px;
		
	}
</style>

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="main-content-container container">
	<div class="ui four column stackable padded grid">
			<a class="column" style="background-color:#5C2223; color: #FFFFFF;" href="http://houbb.github.io/games/return0/view">
				<img class="game-icon" src="return0/logo.png"/>
				<span>人生重开模拟器</span>
			</a>	
			<a class="column" style="background-color:#ED556A; color: #FFFFFF;" href="http://houbb.github.io/games/2048">
				<img class="game-icon" src="2048/favicon.ico"/>
				<span>2048</span>
			</a>
			<a class="column" style="background-color:#C04851; color: #FFFFFF;" href="http://houbb.github.io/games/kaixinlian">
				<img class="game-icon" src="kaixinlian/logo.jpg"/>
				<span>开心连连看</span>
			</a>
			<a class="column" style="background-color:#ED5A65; color: #FFFFFF;" href="http://houbb.github.io/games/xiaoniaofeifei">
				<img class="game-icon" src="xiaoniaofeifei/logo.jpeg"/>
				<span>Flappy Bird</span>
			</a>
			<a class="column" style="background-color:#ED5A65; color: #FFFFFF;" href="http://houbb.github.io/games/ylgy">
				<img class="game-icon" src="ylgy/logo.png"/>
				<span>羊了个羊</span>
			</a>
			<a class="column" style="background-color:#ED5A65; color: #FFFFFF;" href="http://houbb.github.io/games/fruit">
				<img class="game-icon" src="fruit/images/logo.png"/>
				<span>水果忍者</span>
			</a>
			
			<a class="column" style="background-color:#5A1216; color: #FFFFFF;" href="http://houbb.github.io/games/mota">
				<img class="game-icon" src="mota/favicon.ico"/>
				<span>魔塔</span>
			</a>
			<a class="column" style="background-color:#F07C82; color: #FFFFFF;" href="http://houbb.github.io/games/yzcs">
				<img class="game-icon" src="yzcs/logo.png"/>
				<span>影子传说</span>
			</a>
			<a class="column" style="background-color:#5A191B; color: #FFFFFF;" href="http://houbb.github.io/games/bunengsi">
				<img class="game-icon" src="bunengsi/460.jpg"/>
				<span>一个都不能死</span>
			</a>
			<a class="column" style="background-color:#EEA2A4; color: #FFFFFF;" href="http://houbb.github.io/games/feidegenggao">
				<img class="game-icon" src="feidegenggao/icon.png"/>
				<span>飞得更高</span>
			</a>
			<a class="column" style="background-color:#5C2223; color: #FFFFFF;" href="http://houbb.github.io/games/semo">
				<img class="game-icon" src="semo/logo.jpg"/>
				<span>看看你有多色</span>
			</a>
			<a class="column" style="background-color:#A61B29; color: #FFFFFF;" href="http://houbb.github.io/games/yh">
				<img class="game-icon" src="yh/logo.JPG"/>
				<span>烟花</span>
			</a>
	</div>
</div>

<footer style="text-align: center; margin-top:50px;">
	<div class="footer">
		&copy; 版权所有 Powered by <a href="https://github.com/houbb" title="老马啸西风">老马啸西风</a> <br>
	</div>
	<br />
	<div style="text-align: center;">
		<img src="http://houbb.github.io/SIGN.png" style="height: 250px; width: 600px;" />
	</div>
</footer>