---
title: GAMES
layout: default
header-img: "static/app/res/img/tags-bg.jpg"
permalink: /games/
---

<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9082537058031213" crossorigin="anonymous"></script> -->
</head>

<style>
	.main-content-container {
		min-height: 650px;
	}
	.stackable>a {
		line-height: 80px;
		text-align: left;
		font-size: 26px;
	}

	.game-icon {
		display: inline-block;
		height: 32px;
		width: 32px;	
		line-height: 32px;
		
	}
</style>

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="main-content-container container">
	<div class="ui four column stackable padded grid">
			<a class="column" style="background-color:#CCDCF9; color: #FFFFFF;" href="https://houbb.github.io/games/tetris">
				<img class="game-icon" src="tetris/logo.jpeg"/>
				<span>俄罗斯方块</span>
			</a>
			<a class="column" style="background-color:#CCBAF9; color: #FFFFFF;" href="https://zwdzjs2.github.io/g/saolei/">
				<img class="game-icon" src="img/saolei.jpeg"/>
				<span>扫雷</span>
			</a>	
			<a class="column" style="background-color:#AABAF9; color: #FFFFFF;" href="https://houbb.github.io/games/flyfight">
				<img class="game-icon" src="flyfight/logo.jpeg"/>
				<span>飞机大战</span>
			</a>
	
			<a class="column" style="background-color:#eb7faf; color: #FFFFFF;" href="https://houbb.github.io/games/return0/view">
				<img class="game-icon" src="return0/logo.png"/>
				<span>人生重开模拟器</span>
			</a>
			<a class="column" style="background-color:#AADDFA; color: #FFFFFF;" href="https://houbb.github.io/games/gobang">
				<img class="game-icon" src="img/gobang.jpeg"/>
				<span>五子棋</span>
			</a>	
			<a class="column" style="background-color:#CDFF6A; color: #FFFFFF;" href="https://houbb.github.io/games/chess">
				<img class="game-icon" src="chess/favicon.ico"/>
				<span>中国象棋</span>
			</a>
			<a class="column" style="background-color:#ECDD2A; color: #FFFFFF;" href="https://houbb.github.io/games/go">
				<img class="game-icon" src="go/go.jpeg"/>
				<span>围棋</span>
			</a>
			<a class="column" style="background-color:#ED556A; color: #FFFFFF;" href="https://houbb.github.io/games/2048">
				<img class="game-icon" src="2048/favicon.ico"/>
				<span>2048</span>
			</a>
			<a class="column" style="background-color:#CFF231; color: #FFFFFF;" href="https://houbb.github.io/games/popstar">
				<img class="game-icon" src="popstar/popstar.jpeg"/>
				<span>消灭星星</span>
			</a>
			<a class="column" style="background-color:#C04851; color: #FFFFFF;" href="https://houbb.github.io/games/kaixinlian">
				<img class="game-icon" src="kaixinlian/logo.jpg"/>
				<span>开心爱消除</span>
			</a>
			<a class="column" style="background-color:#ED5A65; color: #FFFFFF;" href="https://houbb.github.io/games/xiaoniaofeifei">
				<img class="game-icon" src="xiaoniaofeifei/logo.jpeg"/>
				<span>Flappy Bird</span>
			</a>
			<a class="column" style="background-color:#9c6680; color: #FFFFFF;" href="https://houbb.github.io/games/ylgy">
				<img class="game-icon" src="ylgy/logo.png"/>
				<span>羊了个羊</span>
			</a>
			
			<a class="column" style="background-color:#5A1216; color: #FFFFFF;" href="https://houbb.github.io/games/mota">
				<img class="game-icon" src="mota/favicon.ico"/>
				<span>魔塔</span>
			</a>
			<a class="column" style="background-color:#F07C82; color: #FFFFFF;" href="https://houbb.github.io/games/yzcs">
				<img class="game-icon" src="yzcs/logo.png"/>
				<span>影子传说</span>
			</a>
			<a class="column" style="background-color:#5A191B; color: #FFFFFF;" href="https://houbb.github.io/games/bunengsi">
				<img class="game-icon" src="bunengsi/460.jpg"/>
				<span>一个都不能死</span>
			</a>
			<a class="column" style="background-color:#EEA2A4; color: #FFFFFF;" href="https://houbb.github.io/games/feidegenggao">
				<img class="game-icon" src="feidegenggao/icon.png"/>
				<span>飞得更高</span>
			</a>
			<a class="column" style="background-color:#5C2223; color: #FFFFFF;" href="https://houbb.github.io/games/semo">
				<img class="game-icon" src="semo/logo.jpg"/>
				<span>看看你有多色</span>
			</a>
			<a class="column" style="background-color:#EEA2A4; color: #FFFFFF;" href="https://zwdzjs2.github.io/g/fish/">
				<img class="game-icon" src="img/fish.jpeg"/>
				<span>捕鱼达人</span>
			</a>
			<!-- <a class="column" style="background-color:#e7bb7c; color: #FFFFFF;" href="https://houbb.github.io/games/snake">
				<img class="game-icon" src="img/snake.jpg"/>
				<span>贪吃蛇</span>
			</a>
			<a class="column" style="background-color:#b0a085; color: #FFFFFF;" href="https://houbb.github.io/games/man100">
				<img class="game-icon" src="img/man100.jpg"/>
				<span>是男人就下100层</span>
			</a> -->
			<a class="column" style="background-color:#A61B29; color: #FFFFFF;" href="https://houbb.github.io/games/yh">
				<img class="game-icon" src="yh/logo.JPG"/>
				<span>烟花</span>
			</a>
			
			<a class="column" style="background-color:#C2489F; color: #FFFFFF;" href="https://houbb.github.io/games/llk">
				<img class="game-icon" src="llk/llk.jpeg"/>
				<span>连连看</span>
			</a>
			
			<a class="column" style="background-color:#795253; color: #FFFFFF;" href="https://houbb.github.io/games/tank">
				<img class="game-icon" src="img/tank.jpeg"/>
				<span>坦克大战</span>
			</a>
			<a class="column" style="background-color:#a54358; color: #FFFFFF;" href="https://houbb.github.io/games/fruit">
				<img class="game-icon" src="fruit/images/logo.png"/>
				<span>水果忍者</span>
			</a>
			<a class="column" style="background-color:#168570; color: #FFFFFF;" href="https://zwdzjs2.github.io/">
				<img class="game-icon" src="img/zwdzjs.jpeg"/>
				<span>植物大战僵尸</span>
			</a>
			<a class="column" style="background-color:#bed2b6; color: #FFFFFF;" href="https://zwdzjs2.github.io/g/run/">
				<img class="game-icon" src="img/run.jpg"/>
				<span>神庙逃亡</span>
			</a>
			<a class="column" style="background-color:#c77a3a; color: #FFFFFF;" href="https://zwdzjs2.github.io/g/gold/">
				<img class="game-icon" src="img/gold.jpeg"/>
				<span>黄金矿工</span>
			</a>
			
	</div>
</div>

<footer style="text-align: center; margin-top:50px;">
	<div class="footer">
		&copy; 版权所有 Powered by <a href="https://github.com/houbb" title="老马啸西风">老马啸西风</a> <br>
	</div>
	<br />
	<div style="text-align: center;">
		<img src="https://houbb.github.io/SIGN.png" style="height: 250px; width: 600px;" />
	</div>
</footer>

<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-F03RP3XNVG"></script>
<script src="/static/libs/google/gtag.js"></script> -->
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9082537058031213" crossorigin="anonymous"></script> -->