---
title: Tools
layout: default
header-img: "static/app/res/img/tags-bg.jpg"
permalink: /tools/
---


<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>

<style>
	.main-content-container {
		min-height: 650px;
	}
	.stackable>a {
		line-height: 80px;
		text-align: center;
		font-size: 26px;
	}
</style>



<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="main-content-container container">

	<div class="ui four column stackable padded grid">
			<a class="column" style="background-color:#F09C5A; color: #FFFFFF;" href="https://houbb.github.io/tools/html2markdown"><span>HTML 转 Markdown</span></a>
			<a class="red column" href="https://houbb.github.io/calc"><span>房贷计算器</span></a>
			<a class="green column" href="https://houbb.github.io/wx"><span>微信编辑器</span></a>
			<a class="violet column" href="https://houbb.github.io/idrag"><span>低代码平台</span></a>
			<a class="column" style="background-color:#FCA106; color: #FFFFFF;" href="https://houbb.github.io/tools/tinyimg"><span>图片压缩</span></a>

			<a class="column" style="background-color:#EA8958; color: #FFFFFF;" href="https://houbb.github.io/tools/cron"><span>cron 表达式</span></a>
			<a class="orange column" href="https://houbb.github.io/jsonf"><span>JSON 格式化</span></a>
			<a class="yellow column" href="https://houbb.github.io/jsf"><span>JS/CSS/HTML 压缩</span></a>
			<a class="pink column" href="https://houbb.github.io/jsf/b"><span>JS/CSS/HTML 美化</span></a>
			<a class="black column" href="https://houbb.github.io/jsf/c"><span>JS 混淆</span></a>
			<a class="column" style="background-color:#F09C5A; color: #FFFFFF;" href="https://houbb.github.io/tools/zerowidth"><span>零宽字符</span></a>
			<a class="column" style="background-color:#ED556A; color: #FFFFFF;" href="https://houbb.github.io/tools/linuxtime"><span>时间戳转换</span></a>

			<a class="column" style="background-color:#eb7faf; color: #FFFFFF;" href="https://houbb.github.io/tools/zgs"><span>中国传统色</span></a>
			<a class="column" style="background-color:#fedfe1; color: #FFFFFF;" href="https://houbb.github.io/tools/jps"><span>日本传统色</span></a>
			
			<a class="grey column" href="nlp.html"><span>NLP</span></a>
			<a class="red column" href="ImageToAscii.html"><span>ImageToAscii</span></a>
			<a class="green column" href="color.html"><span>Color</span></a>
			<a class="teal column" href="qrcode.html"><span>Qrcode</span></a>
			<a class="blue column" href="tts.html"><span>TTS</span></a>
			<a class="violet column" href="wordCloud.html"><span>WordCloud</span></a>

			<a class="pink column" href="editor.html"><span>富文本框</span></a>
			
			<a class="black column" href="https://houbb.github.io/tools/function-draw"><span>函数绘制</span></a>

			<!-- <a id="historyoftoday" class="black column" href="#"><span>那年今日</span></a>
			<a class="purple column" href="preview/douban-oscar.html"><span>Oscar</span></a>
			<a class="brown column" href="preview/douban-book.html"><span>豆瓣读书</span></a>
			<a class="teal column" href="preview/douban-music.html"><span>豆瓣音乐</span></a> -->
	</div>

</div>

<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-F03RP3XNVG"></script>
<script src="/static/libs/google/gtag.js"></script> -->