---
title: 汉字拼音转换
layout: default
---


<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9082537058031213" crossorigin="anonymous"></script> -->
    <!-- 引入 layui.css -->
    <link href="https://unpkg.com/layui@2.7.3/dist/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="../../tools/base.css">
</head>

<style>

    textarea {
        height: 300px;
        width: 520px;
        border-top: 1px solid #eee;
        margin-top: 20px;
        overflow-y: auto;
    }

</style>


<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<a class="site-heading" id="tag-heading" href="https://houbb.github.io/opensource">
					<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
					<span class="subheading">{{ page.description }}</span>
                </a>
			</div>
		</div>
	</div>
</header>

<body class="container">

<textarea class="textarea" id="original" placeholder="请输入原始内容..."></textarea>
<textarea class="textarea" id="after" placeholder="处理后的内容..."></textarea>

<br>

<select id="nlp-select" class="form-control" style="width: 100%; margin-top: 10px;">
    <option value="DEFAULT">默认模式</option>
    <option value="NORMAL">普通模式</option>
    <option value="NUM_LAST">数字标注模式</option>
    <option value="FIRST_LETTER">首字母模式</option>
    <option value="INPUT">键盘输入模式</option>
</select>

<button class="btn" style="margin-top: 10px;" onclick="nlpClick()">🔨 处理</button>

<!-- <button class="btn" style="margin-top: 10px; background: #09f;" onclick="nlpSwap()">🔄 互换</button> -->

<button class="btn" style="margin-top: 10px;" onclick="nlpCopy()">💾 复制</button>

<div class="more-learn-wrapper" style="margin: 0 auto; text-align: center; margin-top: 100px;">
	<h2 id="更多学习">更多学习</h2>
	<li>
		<a class="my-a" href="https://github.com/houbb"><span class="icon icon--github">{% include icon-github.svg
				%}</span>&nbsp;个人 Github</a>
	</li>
	<li>
		<i class="fa fa-fw fa-wechat text-muted" title="wechat"></i>&nbsp;个人公众号
	</li>
	<p>更多实时资讯，前沿技术，生活趣事。尽在【老马啸西风】</p>
	<p><img src="{{ site.url }}/SIGN.png" alt="image" /></p>
</div>

<!-- 引入 layui.js -->
<script src="https://unpkg.com/layui@2.7.3/dist/layui.js"></script>
<script src="../../tools/base.js"></script>
<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-F03RP3XNVG"></script>
<script src="/static/libs/google/gtag.js"></script> -->

<script>
    function nlpSwap() {
        let originalJson = document.getElementById("original").value.trim();
        let afterJson = document.getElementById("after").value.trim();

        document.getElementById("after").value = originalJson;
        document.getElementById("original").value = afterJson;
    }

    function nlpCopy() {
        let result = document.getElementById("after").value.trim();
        copy(result);    
        layer.msg('复制成功!');
    }

    /**
     * 格式化原始的 Json 内容
     */
     function nlpClick() {
        let originalJson = document.getElementById("original").value.trim();
        let option = document.getElementById("nlp-select").value;

        //1. 参数校验
        if(originalJson.length <= 0) {
            layer.msg('原始内容的长度不可为空');
            return false;        
        }
        if(originalJson.length > 65535) {
            layer.msg('原始内容的长度过长');
            return false;     
        }


        //2. 请求后端
        var xhr;
        if (window.XMLHttpRequest) {
            xhr = new window.XMLHttpRequest;
        } else {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }

        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4) {
                if((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304){
                    let response = JSON.parse(xhr.responseText);

                    if(response.respCode === '0000') {
                        document.getElementById("after").value = response.result.result;
                    } else {
                        layer.msg(response.respMessage);
                    }
                }
            }
        }

        xhr.open('POST', 'https://houbinbin.fun/opensource-server/a/pinyin/execute', true);
        // xhr.open('POST', 'http://localhost:8080/opensource-server/a/pinyin/execute', true);
        xhr.setRequestHeader("Content-Type","application/json"); //formdata数据请求头需设置为application/x-www-form-urlencoded
        xhr.ontimeout = function() {
            layer.msg('请求超时');
        }
        xhr.timeout = 5000; // 5s

        let data = {
            "text": originalJson,
            "type": option
        };

        xhr.send(JSON.stringify(data));
    }

</script>
</body>
</html>