<footer class="site-footer">

  <div class="container footer-row">
        <a id="back-to-top" class="fa fa-lg fa-fw fa-arrow-up"  href="#" title="Back To Top"></a>
        <p class="text-muted pull-right">{{ site.description }}</p>
  </div>


  <!--[if lt IE 9]>
  <script src="{{ site.url }}/static/libs/ie/html5shiv.js"></script>
  <script src="{{ site.url }}/static/libs/ie/respond.min.js"></script>
  <![endif]-->
  <script src="{{ site.url }}/static/libs/jQuery/jquery-2.2.3.min.js"></script>
  <script src="{{ site.url }}/static/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/static/libs/perfectScrollbar/js/perfect-scrollbar.js"></script>
  <script src="{{ site.url }}/static/libs/mCustomScrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="{{ site.url }}/static/libs/select2/js/select2.min.js"></script>
  <script src="{{ site.url }}/static/libs/colResizable/js/jQuery.colResizable.js"></script>
  <script src="{{ site.url }}/static/app/js/util.js"></script>
  <script src="{{ site.url }}/static/app/js/base.js"></script>
</footer>
