<footer class="site-footer">

  <a id="scroll-top" class="text-center" href="#" onfocus="this.blur();">
      <i class="fa fa-fw fa-angle-double-up"></i>
  </a>

  <div class="container footer-row text-center">
        <!--<a id="back-to-top" class="fa fa-lg fa-fw fa-arrow-up"  href="#" title="Back To Top"></a>-->
        <p class="text-muted">{{ site.description }}</p>
  </div>


  <!--[if lt IE 9]>
  <script src="{{ site.url }}/static/libs/ie/html5shiv.js"></script>
  <script src="{{ site.url }}/static/libs/ie/respond.min.js"></script>
  <![endif]-->

  <script src="{{ site.url }}/static/libs/jQuery/jquery-2.2.3.min.js"></script>
  <script src="{{ site.url }}/static/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/static/libs/jQuery/jquery.bootstrap.min.js"></script>
  <script src="{{ site.url }}/static/libs/perfectScrollbar/js/perfect-scrollbar.min.js"></script>
  <script src="{{ site.url }}/static/libs/mCustomScrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="{{ site.url }}/static/libs/select2/js/select2.min.js"></script>
  <script src="{{ site.url }}/static/libs/colResizable/js/jquery.colResizable.js"></script>
  <script src="{{ site.url }}/static/libs/layer/layer.js"></script>

  <!--validate-->
  <script src="{{ site.url }}/static/libs/validate/jquery.validate.min.js"></script>

  <!--UML-->
  <script src="{{ site.url }}/static/libs/UML/js/raphael.min.js"></script>
  <script src="{{ site.url }}/static/libs/UML/js/underscore-min.js"></script>
  <script src="{{ site.url }}/static/libs/UML/js/sequence-diagram-min.js"></script>
  <script src="{{ site.url }}/static/libs/UML/js/flowchart.min.js"></script>

  <!--my-->
  <script src="{{ site.url }}/static/app/js/jquery.my2048.js"></script>
  <script src="{{ site.url }}/static/app/js/util.js"></script>
  <script src="{{ site.url }}/static/app/js/base.js"></script>
</footer>
