<footer class="site-footer">



  <a id="scroll-top" class="text-center" href="#" onfocus="this.blur();">
      <i class="fa fa-fw fa-angle-double-up"></i>
  </a>


  <!--百度分享-->
  <!--<div class="container footer-row text-center">-->
        <!--<span class="text-muted">{{ site.description }}</span>-->

    <!--<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"160.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>-->

  <!--</div>-->

  <!--站内搜索相关 START-->
  <div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 日期 标签" >

    <div style="position: fixed; top: 16px; right: 16px;">
      <img src="/search/img/cb-close.png"  id="cb-close-btn"/>
    </div>
  </div>


  <!--youdao-->
  <div id="YOUDAO_SELECTOR_WRAPPER" style="display:none; margin:0; border:0; padding:0; width:320px; height:240px;"></div>
  <!--<script type="text/javascript" src="https://fanyi.youdao.com/openapi.do?keyfrom=20170413PersonApi&key=477661285&type=selector&version=1.2&translate=on" charset="utf-8"></script>-->
  <script type="text/javascript" src="/static/libs/youdao/js/translate.min.js" charset="utf-8"></script>

  <!--<div style="position: fixed; right: 16px; bottom: 20px;">-->
    <!--<a id="cb-search-btn" title="双击ctrl试一下" style="color: #0099ff; opacity: 0.5;">-->
      <!--<i class="fa fa-fw fa-search fa-lg"></i>-->
    <!--</a>-->
  <!--</div>-->
  <!--站内搜索相关 END-->

  <!--[if lt IE 9]>
  <script src="{{ site.url }}/static/libs/ie/html5shiv.js"></script>
  <script src="{{ site.url }}/static/libs/ie/respond.min.js"></script>
  <![endif]-->

  <script src="{{ site.url }}/static/libs/jQuery/jquery-2.2.3.min.js"></script>
  <script src="{{ site.url }}/static/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/static/libs/jQuery/jquery.bootstrap.min.js"></script>

  <script src="{{ site.url }}/static/libs/highcharts/js/highcharts.js"></script>

  <script src="{{ site.url }}/static/libs/syntaxhighlighter/scripts/shCore.js"></script>
  <script src="{{ site.url }}/static/libs/syntaxhighlighter/src/shAutoloader.js"></script>
  <script src="{{ site.url }}/static/libs/syntaxhighlighter/scripts/shBrushJScript.js"></script>
  <script src="{{ site.url }}/static/libs/syntaxhighlighter/scripts/shBrushXml.js"></script>
  <script src="{{ site.url }}/static/libs/syntaxhighlighter/scripts/shBrushJava.js"></script>

  <script src="{{ site.url }}/static/libs/semantic-ui/semantic.min.js"></script>
  <script src="{{ site.url }}/static/libs/datatables/js/datatables.min.js"></script>

  <!--UML-->
  <script src="{{ site.url }}/static/libs/UML/js/raphael.min.js"></script>
  <script src="{{ site.url }}/static/libs/UML/js/underscore-min.js"></script>
  <script src="{{ site.url }}/static/libs/UML/js/sequence-diagram-min.js"></script>

  <script src="{{ site.url }}/static/libs/scrollspy/scrollspy.js"></script>

  <!--echarts-->
  <script src="{{ site.url }}/static/libs/echarts/echarts.min.js"></script>
  <script src="{{ site.url }}/static/libs/echarts/china.js"></script>

  <!--my-->
  <script src="{{ site.url }}/static/app/js/util.js"></script>
  <script src="{{ site.url }}/static/app/js/base.js"></script>


  <!--站内搜索相关-->
  <link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">
  <script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>



  <!-- TODO: only load in tag.html -->
  <script src="/static/libs/tagcloud/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script>
  <script language="javascript">
      $.fn.tagcloud.defaults = {
          //size: {start: 1, end: 1, unit: 'em'},
          color: {start: '#bbbbee', end: '#0085a1'}
      };
      $(function () {
          $('#tag_cloud a').tagcloud();
          $('#dir_cloud a').tagcloud();
      });
  </script>

</footer>
