<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Expires" content="0" />


  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "{{ site.url }}/static/libs/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/libs/fontAwesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/libs/buttons/css/buttons.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/libs/perfectScrollbar/css/perfect-scrollbar.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/libs/mCustomScrollbar/css/jquery.mCustomScrollbar.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/libs/select2/css/select2.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/libs/colResizable/css/jQuery.colResizable.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!--my-->
  <link rel="stylesheet" href="{{ "{{ site.url }}/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/app/css/base.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "{{ site.url }}/static/app/css/jQuery.my2048.css" | prepend: site.baseurl }}">
</head>
