* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
  overflow-y: scroll; }

.container {
  width: 990px;
  margin: 0 auto; }

.container-fluid {
  width: 100%; }
  .container-fluid:after {
    clear: both;
    content: "";
    display: block; }

.col-md-6 {
  width: 50%;
  box-sizing: border-box;
  float: left; }

.clearfix {
  clear: both;
  display: block; }

.notice {
  font-size: 14px; }
  .notice.danger {
    color: #FC0000; }

.list li {
  list-style-type: none;
  padding: 2px 10px; }
  .list li:hover {
    cursor: pointer;
    background-color: #f2f7fd; }

.btn {
  border: 1px solid #d6d6d6;
  padding: 6px 15px;
  background-color: #d6d6d6;
  color: #333;
  border-radius: 4px; }
  .btn.btn-primary {
    background-color: #3a6dbf;
    color: #fff;
    border-color: #144799; }
  .btn:hover {
    cursor: pointer; }

i.help {
  background: url("../image/icon.png") no-repeat -177px -3793px;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer; }

.title2 {
  clear: both;
  font-weight: 400;
  line-height: 15px;
  margin: 20px 34px 20px 20px;
  padding: 0 0 0 16px;
  background: url("../image/icon.png") no-repeat -179px -3471px;
  font-size: 16px; }

.header {
  overflow: hidden;
  padding: 20px 0; }
  .header .logo {
    float: left; }
    .header .logo a, .header .logo img {
      display: block;
      height: 62px;
      border: none; }
    .header .logo span {
      display: none; }
  .header .menus {
    float: right;
    line-height: 62px; }
    .header .menus .item {
      color: #3a6dbf;
      margin: 0 10px;
      text-decoration: none;
      font-size: 14px;
      padding: 5px 8px; }
      .header .menus .item.active {
        background-color: #3a6dbf;
        color: #fff;
        border-radius: 4px; }

.banner {
  width: 100%;
  max-height: 150px;
  overflow: hidden; }

.tab .tab-header a, .tab .tab-header .item {
  margin: 0 10px;
  color: #3a6dbf;
  text-decoration: none;
  padding: 5px 8px;
  font-size: 16px; }
  .tab .tab-header a.current, .tab .tab-header .item.current {
    background-color: #3a6dbf;
    color: #fff;
    border-radius: 4px;
    font-weight: bold; }
.tab .tab-nav {
  display: inline-block; }
.tab .tab-body .item {
  display: none;
  padding: 30px 15px; }
  .tab .tab-body .item.current {
    display: block; }

.calculator {
  border: 1px solid #b5c8e2;
  margin-top: 20px;
  padding: 20px; }
  .calculator .title {
    font-size: 16px;
    color: #3a6dbf;
    padding: 10px 0 10px 70px;
    margin: 0 0 30px;
    position: relative;
    background-color: #f2f7fd; 
    font-style: normal;}
    .calculator .title:before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      background: url("../image/icon.png") no-repeat -143px -595px;
      top: -7px;
      left: 10px; }
  .calculator .business .title:before {
    background-position: -143px -595px; }
  .calculator .fund .title:before {
    background-position: -143px -685px; }
  .calculator .combination .title:before {
    background-position: -143px -955px; }
  .calculator .container-fluid {
    border-bottom: dotted 1px #e0e6ef;
    padding: 15px 0; }

.form {
  padding: 0 15px; }
  .form .form-group {
    padding: 5px 0; }
    .form .form-group:after {
      clear: both;
      content: "";
      display: block; }
    .form .form-group label {
      float: left;
      width: 50%; }
      .form .form-group label.label-normal {
        float: none; }
    .form .form-group .form-input {
      width: 50%;
      position: relative;
      float: right; }
      .form .form-group .form-input .unit {
        position: absolute;
        right: 5px;
        top: 1px;
        font-size: 14px; }
      .form .form-group .form-input .toggle-dropdown {
        position: absolute;
        right: 1px;
        top: 1px;
        background: #edf1f5 url("../image/icon.png") no-repeat -159px -3523px;
        display: block;
        width: 32px;
        height: 30px;
        z-index: 998;
        cursor: pointer; }
      .form .form-group .form-input .dropdown {
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        display: none; }
        .form .form-group .form-input .dropdown.active {
          display: block; }
      .form .form-group .form-input .btn {
        width: 105px;
        box-sizing: border-box; }
    .form .form-group label, .form .form-group .form-input {
      box-sizing: border-box;
      font-size: 14px;
      color: #333;
      line-height: 32px; }
    .form .form-group .form-control {
      box-sizing: border-box;
      border: 1px solid #d6d6d6;
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      width: 100%;
      font-size: 14px;
      border-radius: 0; }

.result .title3 {
  padding: 5px 0; }
.result .col-md-6 {
  padding: 15px; }
.result .result-footer {
  padding: 15px;
  overflow: hidden; }
  .result .result-footer p {
    font-size: 14px;
    line-height: 2; }
  .result .result-footer .help {
    font-size: 12px;
    color: #ACAEAF; }
  .result .result-footer .action {
    font-size: 16px; }
  .result .result-footer a {
    text-decoration: none;
    color: #3a6dbf;
    margin: 0 5px; }

.calc-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto; }
  .calc-table td {
    border: 1px solid #dfdfdf;
    height: 2em;
    line-height: 2;
    padding: 0 10px;
    text-align: right;
    font-size: 14px; }
    .calc-table td:first-child {
      text-align: left;
      background-color: #f8f8f8; }
    .calc-table td.red {
      color: #FC0000; }
    .calc-table td .grey {
      font-size: 12px;
      color: #ACAEAF; }
  .calc-table .special td {
    height: 4em; }

.footer {
  text-align: center;
  font-size: 14px;
  padding: 30px 0; }
.footer a{
  color: #3a6dbf;
  text-decoration: none;
}

.article-list {
  margin-top: 15px;
  border: 1px solid #b5c8e2;
  padding: 20px; }
  .article-list ul {
    margin-bottom: 20px; }
  .article-list li {
    list-style: none;
    line-height: 1.5;
    padding-left: 20px; }
    .article-list li a {
      color: #3a6dbf;
      text-decoration: none; }

.breadthumb {
  line-height: 5;
  font-size: 14px; }
  .breadthumb a {
    color: #3a6dbf;
    text-decoration: none; }

.article {
  border: 1px solid #eef0f3;
  padding: 20px;
  width: 610px;
  float: left; }
  .article .article-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    color: #333; }
  .article .info {
    text-align: center;
    font-size: 12px;
    color: #797575; }
  .article .content {
    padding: 20px 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #555; 
    min-height: 400px;}
    .article .content p {
      margin-bottom: 10px;
      text-indent: 2em; }

.side {
  border: 1px solid #eef0f3;
  padding: 20px;
  width: 280px;
  float: right; }
  .side ul {
    margin-bottom: 20px; }
  .side li {
    list-style: none;
    line-height: 1.5;
    margin-bottom: 10px; }
    .side li a {
      color: #3a6dbf;
      text-decoration: none;
      font-size: 14px; }
.tags {
  margin: 20px 0 0;
}
.tags a{
  color: #3a6dbf;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */
