.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out; }

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0); }
  20%, 60% {
    transform: rotate(-25deg); }
  40%, 80% {
    transform: rotate(10deg); } }

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none; }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out; } }
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, sans-serif; }

html,
body,
.app {
  height: auto; }

.app {
  margin: 20px 100px 50px 100px; }

body {
  background-color: #f7f7f7; }

.header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #287acc; }

.textarea {
  width: 100%;
  font-size: 16px;
  height: 150px;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #4da6ff;
  color: #fff; }

textarea {
  width: 100%;
  font-size: 16px;
  height: 150px;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  resize: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI" ,Roboto, "Helvetica Neue", Arial, sans-serif; }
  textarea:not(.readonly):focus {
    outline: none;
    box-shadow: 0 0 0 2px #3399ff; }
  textarea.readonly {
    background-color: #4da6ff;
    color: #fff; }
    textarea.readonly:focus {
      outline: none; }

.title {
  text-align: center;
  color: #3399ff; }
  .title.install {
    margin-top: 20px; }
  .title:not(.install) {
    margin: 20px 0; }

.img-container {
  text-align: center; }

.flex-container {
  display: flex;
  align-items: center; }

.flex-item-sm {
  flex-grow: 1;
  flex-basis: 0; }

.flex-item-lg {
  flex-grow: 10;
  flex-basis: 0; }

.textarea-container:not(:last-child) .textarea {
  margin-bottom: 3px; }

.blue-bar {
  height: 10px;
  background-color: #3399ff; }
  .blue-bar:not(:last-child) {
    margin-bottom: 30px; }

.crossed {
  text-decoration: line-through; }

.placeholder {
  color: #777777; }

.more {
  margin-top: 20px;
  text-align: center; }
  .more .dot-container {
    cursor: pointer;
    display: inline-block;
    width: 100px; }
    .more .dot-container .dot {
      display: inline-block;
      background-color: #4da6ff;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
    .more .dot-container:hover .dot {
      animation: strong-color 560ms ease-in-out forwards; }

@keyframes strong-color {
  0% {
    background-color: #4da6ff; }
  50% {
    background-color: #3399ff; }
  100% {
    background-color: #1a8cff; } }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #777777;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777; }