---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div>
      <i class="fa fa-fw fa-paint-brush"></i> <a href="{{ site.url }}/about">{{ page.author }}</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-fw fa-tags"></i>
      {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-fw fa-list"></i>
      {% for category in page.categories %}
        {{ category }}
      {% endfor %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-fw fa-clock-o fa-spin"></i> {{ page.date | date: "%Y-%m-%d" }}
    </div>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
