---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div>
      <i class="fa fa-fw fa-paint-brush"></i> <a id="article-author" href="{{ site.url }}/about">{{ page.author }}</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-fw fa-tags"></i>
      {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-fw fa-list"></i>
      {% for category in page.categories %}
        {{ category }}
      {% endfor %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-fw fa-clock-o fa-spin" ></i> <span id="article-time">{{ page.date | date: "%Y-%m-%d" }}</span>
    </div>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!--文章上下篇-->
  <nav class="article-page-warp" style="margin-top: 20px;">
    <div class="pagination-list">
      {% if page.previous %}
      <a class="prev pull-left" href="{{ page.previous.url }}" rel="bookmark">
        <i class="fa fa-chevron-circle-left"></i> &nbsp; {{ page.previous.title | truncatewords:5 }}
      </a>
      {% endif %}

      {% if page.next %}
      <a class="next pull-right" href="{{ page.next.url }}" rel="bookmark">
        {{ page.next.title | truncatewords:5 }} &nbsp; <i class="fa fa-chevron-circle-right"></i>
      </a>
      {% endif %}
    </div>
  </nav>

</article>
