---
layout: default
---


<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')" >
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <div class="tags">
            {% for tag in page.tags %}
            <a class="tag" href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
          <h1>{{ page.title }}</h1>
          {% comment %}
          always create a h2 for keeping the margin
          {% endcomment %}
          {% comment %} if page.subtitle {% endcomment %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% comment %} endif {% endcomment %}
          <span class="meta">
            Posted by
                    <a class="my-aw" href="{{ site.url }}/about/">{{ page.author }}</a>
            on {{ page.date | date: "%B %-d, %Y" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="container" style="overflow-y:hidden;">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 post-container">

        <div class="post-content" itemprop="articleBody" style="min-height: 420px;">
          {{ content }}
        </div>

        <div class="more-learn-wrapper">
          <h2 id="更多学习">更多学习</h2>
          <li>
            <a class="my-a" href="https://github.com/houbb"><span class="icon icon--github">{% include icon-github.svg %}</span>&nbsp;个人 Github</a>
          </li>
          <li>
            <i class="fa fa-fw fa-wechat text-muted" title="wechat"></i>&nbsp;个人公众号
          </li>
          <p>更多实时资讯，前沿技术，生活趣事。尽在【老马啸西风】</p>
          <p>交流社群：[交流群信息](https://mp.weixin.qq.com/s/rkSvXxiiLGjl3S-ZOZCr0Q)</p>
          <p><img src="{{ site.url }}/SIGN.png" alt="image" /></p>
        </div>

        <!--文章上下篇 START-->
        <nav class="article-page-warp" style="margin-top: 20px;">
          <div class="pagination-list">
            {% if page.previous %}
            <a class="prev pull-left my-a" href="{{ page.previous.url }}" rel="bookmark">
              <i class="fa fa-angle-left"></i> &nbsp; {{ page.previous.title | truncatewords:5 }}
            </a>
            {% endif %}

            {% if page.next %}
            <a class="next pull-right my-a" href="{{ page.next.url }}" rel="bookmark">
              {{ page.next.title | truncatewords:5 }} &nbsp; <i class="fa fa-angle-right"></i>
            </a>
            {% endif %}
          </div>
        </nav>
        <!--文章上下篇 END-->

      </div>
    </div>
  </div>

</article>
